@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vw;
  background-color: mistyrose;
  display: flex;
  overflow-x: hidden;
  padding: 0px 40px;
}

#edit_page {
    display: flex;
    margin-top: 40px;
    border-radius: 17px;
}
.profile {
    background-color: gainsboro;
    border-radius: 15px;
    position: relative;
    /* flex-grow: 2; */
    width: 25%;
    margin-top: 30px;
}
.profile .edit_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.edit_profile a {
    text-decoration: none;
    color: initial;
}
.edit_profile p {
    padding-bottom: 15px;
}
.edit_profile button {
    padding: 3px 10px;
    margin-top: 20px;
}
/* Information */
.info {
    /* flex-grow: 8; */
    width: 70%;
}
.info .form {
    display: flex;
    justify-content: space-around;
    margin: 65px 15px;
}
.form .text .form-group1 {
    margin-left: 20px;
    margin-bottom: 20px;
}
#edit_page .info .form .text form .form-group1 label {
    margin-right: 57px;
}
.form .text .form-group2 {
    margin-bottom: 20px;
    margin-left: 20px;
}
.form .text .form-group2 label {
    margin-right: 39px;
}
.form .text .form-group3 {
    margin-left: 20px;
    margin-bottom: 20px;
}
.form .text .form-group3 label {
    margin-right: 63px;
}
.form .text .form-group4 label {
    margin-right: 10px;
}
.msg .form-group1 {
    margin-left: 10px;
    margin-bottom: 20px;
}
.form .msg .form-group1 input {
    width: 250px;
    height: 35px;
}
.msg .form-group1 label {
    margin-right: 41px;
}

.msg .form-group3 input {
    width: 250px;
    height: 35px;
}

.msg .form-group2 label {
    margin-right: 35px;
}
.msg .form-group3 {
    margin-left: 10px;
    margin-bottom: 20px;
}
.msg .form-group3 label {
    margin-right: 35px;
}

.form .text input {
    width: 250px;
    height: 35px;
}
.form .msg button {
    float: right;
    padding: 5px 10px;
    font-size: 16px;
}

input {
    outline: none;
}