body {
    font-family: Arial, sans-serif;
    background-color: mistyrose;
  }
  .board-details {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff72;
    border-radius: 10px;
    height: 100vh;
  }
  .board-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .board-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .user-pin {
    background-color: #ffffff72;
    display: inline-block;
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  .user-pin img {
    max-width: 100%;
  }
  .user-pin-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .user-pin-action {
    color: #888;
    cursor: pointer;
  }
  .user-pin-action.active {
    color: #ff4b5c;
  }
  .board-settings {
    text-align: right;
  }
  .board-settings button {
    padding: 5px 10px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }