<<<<<<< HEAD:src/pages/Login/Login.css
input[type=text], input[type=password] {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid white;
    /* padding: 8px 15px; */
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  /* Set a style for all buttons */
  .login-button {
    background-color: #f8186f;
    color: white;
    /* padding: 14px 20px; */
    /* margin: 8px 0; */
    /* border: none; */
    cursor: pointer;
    width: 100%;
    border: 2px solid white;
    padding: 8px 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 20px 0px;
    margin-top: 0px;
  }
  /* Add a hover effect for buttons */
  .login-button:hover {
    opacity: 0.8;
  }
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f8186f;
  }
<<<<<<< HEAD:src/pages/Login/Login.css
   /* //Center the avatar image inside this container 
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
   //Avatar image 
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  // Add padding to containers 
  .container {
    padding: 16px;
  } */
=======

  .signupbtn{
    background-color: #f8186f;
    color: white;
    cursor: pointer;
    width: 100%;
    border: 2px solid white;
    padding: 8px 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 20px 0px;
    margin-top: 0px;
  }
   
>>>>>>> e58702c1b0f86b28944c8695f922f900e814b653:frontend/src/pages/Login/login.css
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
      padding: 8px 15px;
      border-radius: 15px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      margin: 20px 90px;
    }
}