.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    border-radius: 15px;
    margin: 20px 15px;
   } 
  
  
  .searchBox input {
    height: 100%;
    border: none;
    outline: none;
    width: 100%;
    padding: 0px 15px;
    color: #313233;
    font-size: 18px;
    font-weight: bold;
  }