* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vw;
    background-color: mistyrose;
    overflow-x: hidden;
    padding: 0px 40px;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #f2f2f2; */
  }
  
  .logo img {
    height: 50px;
  }
  
  .search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  background: #feffff;
  border: 2px solid #757677;
  padding: 7px 200px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  margin: 20px 60px;
  }
  
  .search input {
  /* padding: 10px;
  border: none;
  border-radius: 5px; */
  height: 100%;
  border: none;
  outline: none;
  width: 100%;
  padding: 0px 10px;
  color: #313233;
  font-size: 18px;
  font-weight: bold;
  }
  
  .notifications i,
  .messages i,
  .settings i{
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .profile-image img {
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .profile-info h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .profile-info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .paylas {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    background: #fff;
  }
  .paylas.aktif{
    width: 300px;
    height: 270px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
  }
  .paylas .arac{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background:rgb(228, 57, 117);
    border-radius: 50%;
    transition: 0.5s;
  }
  .paylas.aktif .arac {
    bottom: -25px;
  }
  .paylas .arac:before {
    content: '\f1e0';
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-family: fontAwesome;
    color: #fff;
    font-size: 24px;
  }
  .paylas.aktif .arac:before{
    content: '\f00d';
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-family: fontAwesome;
    color: #fff;
    font-size: 24px;
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    transform: scale(0);
  }
  .paylas.aktif ul{
    transform: scale(1);
    transition: 0.5s;
    transition-delay: 0.5s;
  }
  ul li{
    list-style: none;
  }
  ul li a{
    display: block;
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #262626;
    transition: 0.5s;
  }
  ul li a:hover {
    color: #fff;
    background: #262626;
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 5px 5px rgba(0,0,0,.5);
  }
  ul li a .fa {
    width: 24px;
    height: 24px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;
    border-radius: 4px;
  }
  ul li:nth-child(1) a .fa,
  ul li:nth-child(1) a:hover
  {
    background: #3b5999;
  }
  ul li:nth-child(2) a .fa,
  ul li:nth-child(2) a:hover
  {
    background: #55acee;
  }
  ul li:nth-child(3) a .fa,
  ul li:nth-child(3) a:hover
  {
    background: #dd4b39;
  }
  ul li:nth-child(4) a .fa,
  ul li:nth-child(4) a:hover
  {
    background: #0077B5;
  }
  ul li:nth-child(5) a .fa,
  ul li:nth-child(5) a:hover
  {
    background: #e4405f;
  }
  
  
  .add-album {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 20px;
    background-color: #f2f2f2;
  }
  
  .add-album button {
    padding: 10px;
    background-color: #757677;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #f2f2f2; */
  }
  
  .album {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
    background-color: rgba(221, 215, 215, 0.7);
    border-radius: 5px;
    overflow: hidden;
  }
  
  .album a {
    display: block;
    text-decoration: none;
    color: #000;
  }
  
  .album-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .album-info {
    padding: 10px;
    /* background-color: #e6e6e6; */
  }
  
  .album-info h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .album-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .album-photos img {
    width: calc(33.33% - 10px);
    margin-bottom: 10px;
    border-radius: 5px;
    object-fit: cover;
  }
  
  .album-photos img:nth-child(3n+1) {
    width: calc(33.33% - 10px);
    margin-right: 10px;
  }
  
  .album-photos img:nth-child(3n+2) {
    width: calc(33.33% - 10px);
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .album-photos img:last-child {
    margin-right: 0;
  }